In [72]:
import numpy as np

In [73]:
import pandas as pd

In [74]:
from matplotlib import pyplot as plt

In [71]:
world = pd.read_csv("C:\\Users\\owner\\OneDrive\\Desktop\\sqi\\DATA SCIENCE\\Datasets\\world.csv")
world.head(5)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃ© Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,ShqipÃ«ria,Republic,Rexhep Mejdani,34.0,AL

In [30]:
code= np.array(world['Code'])
name = np.array(world['Name'])
con = np.array(world['Continent'])
region = np.array(world['Region'])
pop= np.array(world['Population'])
gnp= np.array(world['GNP'])
gnpold= np.array(world['GNPOld'])
lname = np.array(world['LocalName'])
indyear= np.array(world['IndepYear'])

In [ ]:
# country with the highest population

In [68]:
pop.argmax()
pop.argmin()
print("The country name with the highest population is:",name[41].upper())

41

In [ ]:
#  Region with the highest/lowest population

In [63]:
print('Region with the highest population:',region[41])
print('Region with the lowest population:',region[11])

Region with the highest population: Eastern Asia
Region with the lowest population: Antarctica

In [41]:
# gnp.argmax()
# gnp.argmin()
print("The Local name with the highest GNP is:",lname[223].upper())
print("The Local name with the lowest GNP is:",lname[11].upper())

The Local name with the highest GNP is: UNITED STATES
The Local name with the lowest GNP is: Â–

In [52]:
# printing all the nan and notna in IndepYear
indyear
ind=pd.isna(indyear)
print(indyear[ind],'\n')
indd=pd.notna(indyear)
print(indyear[indd])

[nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan]

[ 1919.  1975.  1912.  1278.  1971.  1816.  1991.  1981.  1901.  1918.
  1991.  1962.  1830.  1960.  1960.  1971.  1908.  1971.  1973.  1992.
  1991.  1981.  1825.  1822.  1966.  1984.  1910.  1966.  1960.  1867.
  1499.  1810. -1523.  1960.  1960.  1960.  1960.  1810.  1975.  1975.
  1821.  1902.  1960.  1993.  1955.  1977.  1978.   800.  1844.  1962.
  1822.  1922.  1993.  1492.  1991. -1000.  1917.  1970.   843.  1990.
  1960.  1066.  1991.  1957.  1958.  1965.  1974.  1968.  1830.  1974.
  1821.  1966.  1838.  1991.  1804.  1918.  1945.  1947.  1921.  1906.
  1932.  1944.  1948.  1861.  1962.  1946.  -660.  1991.  1963.  1991.
  1953.  1979.  1983.  1948.  1961.  1953.  1941.  1847.  1951.  1979.
  1806.  1948.  1966.  1991.  1867.  1991.  1956.  1861.  1991.  1960.
  1965.  1810.  1990.  1991.  1960.  1964.  1948.  1921.  1975.  1960.
  1968.  1964.  1957.  1990.  1960.  1960.  1838.  1581.  1905.  1769.
  1968.  1907.  1951.  1947.  1903.  1821.  1946.  1994.  1975.  1918.
  1948.  1143.  1811.  1971.  1878.  1991.  1962.  1932.  1956.  1960.
  1965.  1978.  1961.  1841.   885.  1960.  1975.  1975.  1993.  1991.
   836.  1968.  1976.  1941.  1960.  1960.  1350.  1991.  1991.  1970.
  1962.  1956.  1923.  1978.  1945.  1961.  1962.  1991.  1828.  1776.
  1991.  1929.  1979.  1811.  1945.  1980.  1962.  1918.  1918.  1910.
  1964.  1980.]

In [ ]:
# printing out the nan and notna in gnpold

In [57]:
gnpold
gnp = pd.isna(gnpold)
print(gnpold[gnp],'\n')

gnpp=pd.notna(gnpold)
print(gnpold[gnpp])

[nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan]

[7.930000e+02 7.984000e+03 2.500000e+03 3.684600e+04 3.233100e+05
 1.627000e+03 5.840000e+02 3.929110e+05 2.060250e+05 4.100000e+03
 9.820000e+02 2.439480e+05 2.141000e+03 2.201000e+03 3.196600e+04
 1.016900e+04 6.097000e+03 3.347000e+03 6.160000e+02 2.190000e+03
 7.967000e+03 8.041080e+05 2.186000e+03 1.246000e+04 3.830000e+02
 4.935000e+03 9.930000e+02 6.256260e+05 2.560920e+05 7.578000e+04
 9.177190e+05 1.028500e+04 8.596000e+03 2.474000e+03 2.287000e+03
 1.051160e+05 4.361000e+03 4.200000e+02 9.757000e+03 1.886200e+04
 1.186000e+03 8.246000e+03 5.203700e+04 2.102826e+06 3.730000e+02
 2.430000e+02 1.692640e+05 1.507600e+04 4.696600e+04 1.976900e+04
 7.561700e+04 7.550000e+02 5.320310e+05 3.371000e+03 6.180000e+03
 1.198330e+05 2.149000e+03 1.392448e+06 5.279000e+03 1.296830e+06
 5.924000e+03 6.884000e+03 2.383000e+03 3.250000e+02 2.720000e+02
 5.420000e+02 1.199460e+05 1.779700e+04 1.136000e+03 7.430000e+02
 1.736100e+05 4.697000e+03 1.930000e+04 3.107000e+03 4.591400e+04
 2.150020e+05 4.305720e+05 7.313200e+04 1.601510e+05 7.474000e+03
 9.857700e+04 1.145372e+06 6.722000e+03 7.051000e+03 4.192638e+06
 2.338300e+04 1.024100e+04 1.767000e+03 5.670000e+03 4.425440e+05
 3.037300e+04 1.746000e+03 1.512900e+04 4.056200e+04 1.084000e+03
 1.509100e+04 1.161000e+03 9.585000e+03 1.551900e+04 5.639000e+03
 5.940000e+03 3.351400e+04 1.872000e+03 3.545000e+03 4.014610e+05
 1.915000e+03 2.453000e+03 3.338000e+03 1.710280e+05 9.330000e+02
 2.711000e+03 1.081000e+03 2.559000e+03 4.186000e+03 2.527000e+03
 9.788400e+04 3.384000e+03 1.580000e+03 5.862300e+04 2.023000e+03
 3.604780e+05 1.533700e+05 4.837000e+03 6.496000e+04 1.615300e+04
 5.854900e+04 8.700000e+03 6.518600e+04 8.223900e+04 6.328000e+03
 1.356360e+05 3.210000e+04 1.021330e+05 9.555000e+03 7.810000e+02
 8.920000e+03 7.988000e+03 3.484300e+04 4.429890e+05 1.863000e+03
 1.461710e+05 4.542000e+03 9.631800e+04 2.200000e+02 8.580000e+02
 1.120300e+04 7.060000e+02 1.945200e+04 1.820200e+04 2.277570e+05
 1.312000e+03 5.390000e+02 6.492600e+04 1.102000e+03 1.400000e+03
 1.539070e+05 1.056000e+03 2.000000e+03 1.700000e+02 5.867000e+03
 1.889800e+04 1.891220e+05 2.634510e+05 7.388000e+03 6.887000e+03
 4.967700e+04 1.996700e+04 8.110900e+06 2.130000e+04 8.843400e+04
 5.730000e+02 2.283400e+04 2.460000e+02 1.570000e+02 5.729000e+03
 1.290920e+05 3.922000e+03 8.670000e+03]

In [58]:
# Highest and lowest continent population

In [67]:
print("Continent with highest population:",con[41].upper())
print("Continent with lowest population:",con[11].upper())

Continent with highest population: ASIA
Continent with lowest population: ANTARCTICA