In [ ]:
#use us_births data to compute the following using np:
    #extract the year, gender and births column from the data
    #compute the aggregation of sum of total birth, sum of female birth and sum of male birth, mean and median
    #compute the maximum births and minimum births
    #indicate the gender with minimum birth and maximum birth
    #indicate the year with minimum birth and maximum birth

In [31]:
import numpy as np
import pandas as pd
us_births = pd.read_csv("C:\\Users\\owner\\OneDrive\\Desktop\\sqi\\DATA SCIENCE\\Datasets\\us_births.csv")
us_births.head(10)

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548
5  1969      1  3.0      M    4994
6  1969      1  4.0      F    4440
7  1969      1  4.0      M    4520
8  1969      1  5.0      F    4192
9  1969      1  5.0      M    4198

In [7]:
us_year = np.array(us_births['year'])
us_gender = np.array(us_births['gender'])
us_b = np.array(us_births['births'])
print('Year of birth\n',us_year,'\n')
print('Gender\n', us_gender,'\n')
print('Births\n', us_b,'\n')

Year of birth
 [1969 1969 1969 ... 2008 2008 2008]

Gender
 ['F' 'M' 'F' ... 'M' 'F' 'M']

Births
 [  4046   4440   4454 ... 165468 173215 181235]

In [23]:
print('Sum of total births: ', us_b.sum())
print('mean: ', us_b.mean())
print('Median: ',np.median(us_b))

Sum of total births:  151774378
mean:  9762.293561458802
Median:  4814.0

In [30]:
# print(us_b.argmax())
# print(us_b.argmin())
print('gender with maximum birth: ',us_gender[15514])
print('gender with minimum birth: ',us_gender[4715])
print('Year with maximum birth: ',us_year[15514])
print('Year with minimum birth: ',us_year[4715])

15514
4715
gender with maximum birth:  M
gender with minimum birth:  F
Year with maximum birth:  2007
Year with minimum birth:  1975